@CHARSET "UTF-8";
@font-face
{
	font-family: constan;
	src:url(../media/desktop/constan.eot);
	src:url(../media/desktop/constan.ttf) format("truetype");
}

html
{
	font-family:tahoma;
	background:white;
	font-size:10pt;
}
body
{
	margin:0px;
	font-family:tahoma;
	background:inherit;
	font-size:10pt;
}
div
{
	font-family:tahoma;
}
img
{
	border:0px;
	margin:0px;
}
p
{
	margin:0px;
	padding:0px;
}



/* ------------------------------------------------------------------------- */
/* szablony -> dodatkiprzedstrona i dodatkipodstrona */
/* ------------------------------------------------------------------------- */
div.naglowekdlarobotow 
{
	display:none;
}

/* ------------------------------------------------------------------------- */
/* szablony */
/* ------------------------------------------------------------------------- */
div.pasekgorny
{
	width:100%;
	height:10px;
	background:#00aef0;
}
img.pasekgorny
{
	display:block;
}
div.center
{
	width:983px;
	margin:auto;
	position:relative;
}
div.tlo
{
	width:100%;
	height:1012px;
	background:url(../media/desktop/tlo.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:left top;
	position:relative; 
}
div.tlobelkidolnej
{
	width:100%;
	height:274px;
	background:url(../media/desktop/tlobelkidolnej.gif);
}
div.stopka
{
	width:903px;
	margin:auto;
	height:160px;
	position:relative;
	overflow:hidden;
	z-index:5;
	margin-top:0px;
	margin-bottom:0px;
}
img.tytul
{
	position:absolute;
	top:36px;
	left:255px;
}
img.nowe_logo
{
	position:absolute;
	top:40px;
	left:465px;
	width:300px;
}
img.tytul2
{
	position:absolute;
	top:233px;
	left:377px;
}
img.blok01
{
	position:absolute;
	top:412px;
	left:133px;/*-200*/
	width:223px;
}
img.blok02
{
	position:absolute;
	top:412px;
	left:394px;/*-200*/
	width:223px;
}
img.blok03
{
	position:absolute;
	top:412px;
	left:661px;
	width:223px;
}

img.blok04
{
	position:absolute;
	top:655px;
	left:133px;/*-200*/
	width:223px;
}
img.blok05
{
	position:absolute;
	top:655px;
	left:394px;/*-200*/
	width:223px;
}
img.blok06
{
	position:absolute;
	top:655px;
	left:661px;
	width:223px;
}

div.info
{
	position:absolute;
	width:920px;
	height:43px;
	top:925px;
	left:33px;
	font-size:18px;
	color:#34de32;
	font-weight:bold;
	
}
div.partnerzyokno
{
	width:815px;
	overflow:hidden;
	position:relative;
	height:160px;
	float:left;
	margin-left:10px;
	margin-right:10px;
}
div.stopkaodstep
{
	z-index:2;
	position:absolute;
	top:23px;
	left:20px;
}
img.partnerzyleft
{
	float:left;
	z-index:5;
	margin-left:5px;
	margin-top:37px;
	cursor:hand;
	cursor:pointer;
}
img.partnerzyright
{
	float:left;
	z-index:5;
	margin-top:37px;
	cursor:hand;
	cursor:pointer;
}
img.partnerzyseparator
{
	margin-left:20px;
	margin-right:20px;
	float:left;
}
div.ramkapartnerzy
{
	float:left;
	height:90px;
}
div.ramkapartnerzy:before
{
	content:'';
	display:inline-block;
	vertical-align:middle;
	height:90px;
}
img.logopartnera
{
	vertical-align: middle;
	display: inline-block;
}
img.biofeedback
{
	position:absolute;
	left:10px;
	top:0px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.60;
}
img.johansenias
{
	position:absolute;
	left:10px;
	top:40px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.60;
}
img.neuroflow
{
	position:absolute;
	left:10px;
	top:190px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.60;
}
img.Warnke
{
	position:absolute;
	left:10px;
	top:250px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.60;
}
img.SzkolaPamieta
{
	position:absolute;
	left:10px;
	top:370px;
	width:150px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	filter: progid: DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: 0.80;
}
form.login_form
{
	position:absolute;
	left:460px;
	top:300px;
	text-align: center;
}
input.login_form_input
{
	width:300px;
	font-size: 24px;
	text-align: center;
	margin:5px;
}
input.login_form_submit
{
	width:308px;
	font-size: 24px;
	text-align: center;
	margin:5px;
}
button.restore_password
{
	width:208px;
	font-size: 14px;
	text-align: center;
	margin:5px;
	color:black;
	float:right;
}
